/* Specific styles for the crops page */

h2 {
	border-bottom: 2px solid #4CAF50;
	padding-bottom: 0.5em;
	color: #333;
}

ul {
	list-style: none;
	padding-left: 0;
}

ul li {
	margin-bottom: 0.5em;
}
