/* the header section stylesheet for the base model code */
header {
	background-color: ##1F8835; /*#4CAF50;*/
	color: white;
	padding: 1em 0;
	text-align: center;
	height: 70px;
	font-size: 0.7em;
}

nav ul {
	list-style: none;
	padding: 0;
}
;
nav ul li {
	display: inline;
	margin: 0 1em;
}

nav ul li a {
	color: white;
	text-decoration: none;
}
