{% extends 'layout.html' %}

{% block title %}About Us - Cybersforth_X{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block content %}
<div class="content">
	<section class="about-section">
		<h2>About Cybersforth_X</h2>
		<p>At Cybersforth_X, we are dedicated to leveraging cutting-edge technology to revolutionize agriculture and address global food security challenges. Our journey began with a vision to empower farmers with advanced AI-driven solutions that optimize crop production, enhance sustainability, and improve livelihoods.</br>Driven by our commitment to innovation and excellence, we specialize in developing tailored AI solutions for precision agriculture, crop yield prediction, and farm management. Through the seamless integration of data science, machine learning, and agronomic expertise, we deliver actionable insights that empower farmers to make informed decisions and maximize yields while minimizing environmental impact.</p>
	</section>
	<section class="team-section">
		<h2>Our Team</h2>
		<p>At the heart of Cybersforth_X is our dedicated team of experts, united by a shared passion for innovation and agriculture. From data scientists and software engineers to agronomists and domain specialists, each member brings a unique perspective and skill set to our collaborative efforts.</br>Together, we are committed to pushing the boundaries of agricultural innovation, driving positive change in the industry, and creating a brighter future for farming communities worldwide.</p>
	</section>
	<section class="mission-section">
		<h2>Our Mission</h2>
		<p>Our mission at Cybersforth_X is to harness the power of technology to transform agriculture into a more sustainable, efficient, and resilient industry. We strive to bridge the gap between traditional farming practices and modern technology, democratizing access to advanced agricultural tools and knowledge.</p>
	</section>
</div>
{% endblock %}
