<!DOCTYPE html>
<html lang="en-US">
        <head>
		{% block head %}
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
                	<title>{% block title %}{% endblock %} - Cybersforth X</title>
		{% endblock %}
        </head>
        <body>
		<header>
			<nav class='navbar'>
				<img src="{{ url_for('static', filename='images/icon.png') }}" alt="Logo" class='logo'>
				<ul class='navbar-list'>
					<li class='navbar-item'><a href="/home">Home</a></li>
					<li class='navbar-item'><a href="/about">About</a></li>
					<li class='navbar-item'><a href="/login">Log In</a></li>
					<li class='navbar-item'><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
                {% block content %}{% endblock %}
		<footer>
			<p>&copy Cybersforth_X 2024</p>
		</footer>
        </body>
</html>

